
:root {
    --width-square: 12px;
  }
  * {
    margin: 0;
    padding: 0;
  }

  .animation-container.loaded {
    opacity: 0;
    transition: opacity 0.8s linear 0s;
  }

  .animation-container {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    opacity: 1;
  }

  .animation-container .square {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 70px;
    max-height: 70px;
    min-width: 40px;
    min-height: 40px;
  }
  .animation-container .square .line {
    background-color: #7e0cf5;
    position: absolute;
    animation: animate-one 1.5s linear infinite;
  }
  .animation-container .square .line.line-x {
    width: var(--width-square);
    height: 100%;
    top: 0;
  }
  .animation-container .square .line.line-y {
    width: 100%;
    height: var(--width-square);
    left: 0;
  }
  
  .animation-container .square .line.one {
    left:0;
    transform-origin: left top;
  }
  .animation-container .square .line.two {
    top: 0;
    transform-origin: right top;
  }
  .animation-container .square .line.three {
    right: 0;
    transform-origin: right bottom;
  }
  .animation-container .square .line.four {
    bottom: 0;
    transform-origin: left bottom;
  }
  
  @keyframes animate-one {
    0% {
      transform: rotate(0deg);
    }
    50%, 100% {
      transform: rotate(360deg);
    }
  }